.bg-1 {
	background-color: #f5f5f5;
	color: #434343;
}

.bg-2 {
	background-color: #ffffff;
	border-radius: 10px;
}

.header {
	background-color: #ffffff;
	margin-top: 100px;
}

.heading {
	margin-bottom: 25px;
}

.section {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 10px;
}

.container-fluid {
	padding-top: 15px;
	padding-bottom: 15px;
}

.background-container {
	background-color: #dadfe8;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}

.navigbar {
  background-color: ##e4ebef;
}

.navbar-nav li a:hover {
  color: #1abc9c !important;
}

body {
  font: 20px "Montserrat", sans-serif;
  line-height: 1.8;
  color: #f5f6f7;
}

p {font-size: 16px;}